@import 'tailwindcss';

@layer base {
  :root {
    --hue: 200;
    --primary: #49339c;
  }

  .gryffindor {
    --hue: 3;
    --primary: #D84C45;
  }
  .ravenclaw {
    --hue: 217;
    --primary: #1E5BBB;
  }
  .hufflepuff {
    --hue: 34;
    --primary: #C77000;
  }
  .slytherin {
    --hue: 169;
    --primary: #0C6051;
  }  


  body {
    font-family: Arial, Helvetica, sans-serif;
  }

}


@theme inline {
  --color-neutral: #ffffff;
  --color-neutral-inverse: #171717;

  --color-background: hsl(var(--hue), 58%, 4%);
  --color-surface: hsl(var(--hue), 54%, 6%);
  --color-element: hsl(var(--hue), 44%, 12%);

  --color-primary: var(--primary);
}