@import 'tailwindcss';

@layer base {
  :root {
    --neutral: #171717;
    --neutral-inverse: #ffffff;

    --primary: #23F4D4;

    --background: #ffffff;
    --surface: #f9f9f9;
    --element: #c2c2c2;
  }
  
  .dark {
    
    --neutral: #ffffff;
    --neutral-inverse: #171717;
    
    --primary: #23F4D4;
    
    --background: #0a0a0a;
    --surface: #171717;
    --element: #404040;
  }
  body {
    font-family: Arial, Helvetica, sans-serif;
  }

}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-surface: var(--surface);
  --color-element: var(--element);
  --color-primary: var(--primary);
}